#tabbar{
    width: 100%;
    display: flex;
    justify-content: center;
}
#tabbar ul{
    padding: 10px;
    width: 80%;
    height: 42px;
    display: flex;
    list-style:none;
    justify-content: space-between;
    text-align: center;
}
#tabbar ul li.active{
    color:pink;
}
#tabbar ul li.router-link-active{
    color:pink;
}