.comment-div{
    width: 100%;
}
.comment-sum{
    font-size: 20px;
    margin: 20px;
}
.comment-content{
    margin: 10px;
    list-style: none;
}
.comment-item{
    padding:20px 0 30px 0;
    display: flex;
    border-top: 1px solid #e5e9ef;
}
.headicon{
    border-radius: 100%;
    margin-right: 20px;
    height: 60px;
    width: 60px;
}
.comment-infos{
    width: 85%;
}
.username{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}
.commentDate{
    float:right;
    font-size: 12px;
    color: gray;
}
.commentInfo{
    width: 100%;
    margin: 10px 0 10px 5px;
}